@use './partials/global' as *;
@use './partials/mixins' as *;
@use './partials/variables' as *;


%card-base {
    border-radius: 10px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
    background-color: $color-white;
}


%hover-effect {
    transition: all 0.2s ease;
    &:hover {
        transform: translateY(-0.125rem);
    }
}

.main-heading {
    font-size: 60px;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.hero {
    display: flex;
    background-color: $color-lightaccent;
    overflow: hidden;
    margin: 1.25rem #FFF0ED;

    &-info {
   
    
        display: inline-block;
        vertical-align: center;
        width:25%;
        padding: 224px 0px 0px 112px;
        margin: 0%;
        
    
    }


    &-coffee-bag{
        float: right;
        margin-left: 40.625rem;
        width: 30%; 
        max-width:15vw;
        max-height:none;
        padding: 112px 112px 112px 0px;
        
    }



}






.our-products {
    background-color: $color-greyaccent;
    overflow: hidden;
    text-align: center;
    margin: 1.25rem $color-greyaccent;
    


    img {
        height: 280px;
}
}    

.card-blue-text{
    font-weight: bold;
    text-decoration: none;
    color: #5BACC3;
    display: flex;

} 




.card {
    @extend %card-base;
    @extend %hover-effect;
    
    width: 330px;
    height: 440px;
  
    display: flex;
    flex-direction: column;
    align-items: left;
    
    &-layout {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 1.25rem;
        padding: 1.25rem;
    }

    &-image {
        margin: 1.25rem;
    }



    &-item-description {
        width: 100%;
        @include flex-between;
        padding: 0.625rem 0;
        box-sizing: border-box;
        text-align: left; 
        background-color: $color-lightaccent;
    


    h3 {
        margin: 0;
        padding: 0.9375rem 0.9375rem 0rem 0.9375rem;
    }

    p {
        margin: 0;
        padding: 0rem 0.9375rem 0.9375rem 0.9375rem;
        color: $color-darkaccent;
    }
    


} 
} 

.center-align{
    text-align: right;
}

.card-item-description, .blue-text {
    font-weight: 700;

}

.competition {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.25rem;
    margin: 1.25rem;

    


&-content {
    width: 30%;
    display: flex;
    flex-direction: column;




h2 {
    margin: 0;
}
}

&-images {
    position: relative;
    width: 25rem;
    height: 25rem;
   

img:first-child {
    position: absolute;
    top: 1.25rem;
    left: 1.25rem;
    width: 25rem;
    height: 25rem;
    
}


&::before {
    content: '';
    position: absolute;
    top: 0.9375rem;
    left: 0.9375rem;
    width: 100%;
    height: 100%;
    border: 0.3125rem solid #5BACC3;
}
}
}





.competition-icons-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    
}

.competition-content-icons {
    width: 10%; 
}





.competition-second-image {
    position: absolute;
    left: 8.125rem; 
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 11.25rem;
    height: 17.5rem;
}


.competition-images:hover .competition-second-image {
    transform-origin: center;

    animation: rotate-image 2s linear infinite;
}

@keyframes rotate-image {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
        }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}




.discounts {
    text-align: center;
    




&-text {
    display: inline-block;
    background-color: $color-darkaccent;

    color: $color-white;
    padding: 40px; 
    font-size: 18px; 
    text-align: center; 
    border: 64px solid white;
    margin: 20px auto;
    font-size: 45px;
    font-weight: 400;
    animation: flash-bg 2.5s infinite;
}

.discounts span {
    font-weight: 700;
}

}

@keyframes flash-bg {
    0%, 100% {
        background-color: #393939;
    }
    50% {
        background-color: #5BACC3;
    }
}



.footer {
    background-color: $color-lightaccent;
    position: relative;
    display: flex;
    justify-content: space-between;
  
    overflow: hidden;
}

.footer-design-left, .footer-design-right {
    position: absolute;
    width: 3.125rem;
    height: 100%;

}

.footer-design-left {
    position: absolute;
    top: 0;
    left: -4.6875rem;
    width: 7.5rem;
    height: 7.5rem;
}

.footer-design-right {
    position: absolute;
    top: 0;
    right: -4.6875rem;
    width: 7.5rem;
    height: 7.5rem;
}

.footer-design-left img, .footer-design-right img {
    width: 100%;
    height: 100%; 
    opacity: 0.25;
}

.footer-companyinfocard {
    width: 100%;
    display: flex;
    justify-content: center;

    padding: 0;
    margin: 0;
    
}

.footer-companyinfocard div {
   
    width: 30%; 
    margin-right: 0; 

}

.facebook, .yelp, .instagram {
    width: 1.875rem;
    height: 1.875rem;
}  

.footer-companyinfocard span {
    font-weight: bold;
}

