/* ---------------- variables below ---------------- */
/* ---------------- tags below ---------------- */
body {
  font-family: "Open Sans";
  font-weight: 400;
  margin: 0;
}

h1, h2 {
  font-size: 3.75rem;
  font-weight: 300;
}

h3 {
  font-size: 2.0625rem;
  font-weight: 300;
}

p {
  font-size: 1.125rem;
  font-weight: 400;
}

a {
  text-decoration: none;
}

li {
  margin: 1rem;
  list-style-type: none;
  display: inline-block;
}

/* ---------------- classes below ---------------- */
.navbar-items, .navbar-logo {
  display: inline-block;
  align-items: center;
  padding: 1.875rem 0rem 0rem 0rem;
  background-color: #FFF0ED;
  color: #393939;
}

.navbar {
  /* text-align: center;  */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 7em;
  background-color: #FFF0ED;
}

.navbar-logo a {
  display: inline-block;
  vertical-align: middle;
}

.navbar-logo {
  margin: 0;
  padding: 0;
}

.navbar-logo-image {
  width: 50px;
  height: auto;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.navbar-list {
  text-decoration: none;
  display: inline-block;
  vertical-align: bottom;
  gap: 0.9375rem;
  margin: 0;
  padding-bottom: 0;
  margin-left: auto;
}

.navbar-logo-text {
  text-decoration: none;
  font-size: 2.5rem;
  color: #393939;
}

.button-offset {
  width: 180px;
  height: 44px;
  margin: 20px;
  /* padding: 10px 20px; */
  background-color: #5BACC3;
  color: white;
  font-size: 1.3125rem;
  font-weight: 400;
  position: relative;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

.button-offset::before {
  content: "";
  position: absolute;
  top: -8px;
  left: -8px;
  width: 100%;
  height: 100%;
  border: 2px solid #393939;
  transition: all 0.2s ease;
}

.button-offset:hover::before {
  top: 0;
  left: 0;
}

.blue-text {
  text-decoration: none;
  color: #5BACC3;
}

.main-heading {
  font-size: 3.75rem;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.hero {
  display: flex;
  background-color: #FFF0ED;
  overflow: hidden;
  margin: 20px #FFF0ED;
}

.hero-coffee-bag {
  float: right;
  margin-left: 650px;
  width: 30%;
  /* margin: 4.375rem; */
  max-width: 15vw;
  max-height: none;
  padding: 7rem 7rem 7rem 0rem;
  margin: 20px #FFF0ED;
}

.hero-info {
  /* padding: 14rem 0rem 0rem 7rem; */
  display: inline-block;
  vertical-align: center;
  width: 25%;
  padding: 14rem 0rem 0rem 7rem;
  margin: 0%;
}

.our-products {
  background-color: #F7F7F7;
  overflow: hidden;
  display: block;
  text-align: center;
  margin: 20px #F7F7F7;
}

.our-products img {
  height: 17.5rem;
}

.card-blue-text {
  font-weight: bold;
  text-decoration: none;
  color: #5BACC3;
  display: flex;
}

.card-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  padding: 20px;
}

.card {
  width: 20.625rem;
  height: 27.5rem;
  border-radius: 0.625rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  background-color: #ffffff;
  position: relative;
}

.card-image {
  margin: 20px;
}

.card-item-description {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  box-sizing: border-box;
  text-align: left;
  background-color: #FFF0ED;
}

.card-item-description h3 {
  margin: 0;
  padding: 15px 15px 0px 15px;
}

.card-item-description p {
  margin: 0;
  padding: 0px 15px 15px 15px;
  color: #393939;
}

.card-item-description, .blue-text {
  font-weight: 700;
}

.competition {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  margin: 20px;
  /* overflow: hidden; */
}

.competition-content {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.competition-content h2 {
  margin: 0;
}

.competition-icons-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.competition-content-icons {
  width: 10%;
}

.competition-images {
  position: relative;
  width: 400px;
  height: 400px;
}

.competition-images img:first-child {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 400px;
  height: 400px;
}

/* 
.competition-second-image {
    position: absolute;
    top: 130px;
    left: 130px;
    top:18%;
    left:30%;
    width: 180px;
    height: 280px;
} */
.competition-second-image {
  position: absolute;
  /* top: 130px;
  left: 130px; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 180px;
  height: 280px;
}

.competition-images::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  width: 100%;
  height: 100%;
  border: 5px solid #5BACC3;
}

.competition-images:hover .competition-second-image {
  transform-origin: center;
  animation: rotate-image 2s linear infinite;
}

@keyframes rotate-image {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.discounts {
  text-align: center;
}

.discounts-text {
  display: inline-block;
  background-color: #393939;
  color: #ffffff;
  padding: 2.5rem;
  font-size: 1.125rem;
  text-align: center;
  border: 4rem solid white;
  margin: 1.25rem auto;
  font-size: 2.8125rem;
  font-weight: 400;
  animation: flash-bg 2.5s infinite;
}

@keyframes flash-bg {
  0%, 100% {
    background-color: #393939;
  }
  50% {
    background-color: #5BACC3;
  }
}
.discounts span {
  font-weight: 700;
}

.footer {
  background-color: #FFF0ED;
  position: relative;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.footer-design-left, .footer-design-right {
  position: absolute;
  width: 50px;
  height: 100%;
}

.footer-design-left {
  position: absolute;
  top: 0;
  left: -75px;
  width: 120px;
  height: 120px;
}

.footer-design-right {
  position: absolute;
  top: 0;
  right: -75px;
  width: 120px;
  height: 120px;
}

.footer-design-left img, .footer-design-right img {
  width: 100%;
  height: 100%;
  /* object-fit: contain; */
  opacity: 0.25;
}

.footer-companyinfocard {
  width: 100%;
  display: flex;
  justify-content: center;
  /* text-align: left; */
  padding: 0;
  margin: 0;
}

.footer-companyinfocard div {
  width: 30%;
  margin-right: 0;
  /* min-width: 12.5rem;  */
}

.facebook, .yelp, .instagram {
  width: 30px;
  height: 30px;
}

.footer-companyinfocard span {
  font-weight: bold;
}/*# sourceMappingURL=landing.css.map */