@use './partials/global' as *;
@use './partials/mixins' as *;
@use './partials/variables' as *;

.menu {
    &-titlecard {
        width: 100%;
        height: 43.75rem;
        background-image: url('../assets/images/coffee-circle.jpg'); 
        @include background-cover;
        @include flex-center;

 
}

&-textbox {
    width: 18.75rem;
    height: 12.5rem;
    background-color: $color-darkaccent;
    color: $color-white;
    
    @include flex-center;
    text-align: center;
    margin:0;    
    position: relative;

    transform: translate(0.3125rem, 0.3125rem);


&::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0.3125rem solid #5BACC3;
    bottom: 0.3125rem;
    right: 0.3125rem;
}
}

&-navbar {
    background-color: $color-darkaccent;
    text-align: center;
}

&-item {
    &-navbar {
        color: $color-white;
        padding: 10px;     
        display: inline-block;
        font: white;
        margin: 10px;
        border-left: 3px solid $color-calltoaction;

        &-list {
            display: inline-block;
            color: $color-white;
            margin:0;
        }
    }

    &-descriptions {
        width: $menu-width;
        text-align: center;
        margin:0 auto;
    }
    }
    &-categories-breakdown {
        width: $menu-width;
    }

}


.hot-drinks, .pastries {
    background-color: #FFF0ED;
    overflow: hidden;

}

.pastries {
    background-color: #FFF0ED;

}

p.italic-text {
    font-style: italic;
}

.cold-drinks{
    overflow: hidden;
}
